@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700&display=swap");

* {
	font-family: "Archivo", sans-serif;
  transition: all 300ms ease-in-out;
	scroll-behavior: smooth;
}

body {
	background-color: whitesmoke;
}
